body {
    font-family: 'PopIndie Flower', sans-serif;
    height: 100vh;/* Altura da tela inteira */
    display: flex;
    justify-content: center;/* Centraliza horizontalmente */
    align-items: center;/* Centraliza verticalmente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: #fbf095;
    padding: 5px;
    border-radius: 10px;
    max-width: 600px; /* Limita a largura máxima do cartão */
    width: 100%; /* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
    box-sizing: border-box;
}
.cartao-imagem img {
    width: 100%;
    max-height: 160px; /* Limita a altura do logo */
    object-fit: contain; /* Garante que a imagem não distorça */
    margin-bottom: 0px; /* Margem inferior para espaçamento */
}

.cartao-informacao {

    padding-top: 20px; /* Ajusta o padding para caber melhor na tela */
    margin-top: 10px; /* Ajusta a margem para caber melhor na tela */
    width: 570px;
    margin-left: 10px;
}
.cartao-visitante h3, h2 {
    
    padding: 0px;
    border-radius: 0px;
    max-width: 400px; /* Limita a largura máxima do cartão */
    width: 30%; /* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
    box-sizing: border-box;
}
h3 {
    
    font-size: 1.3em; /* Reduz o tamanho do título secundário */
}
h2 {
    
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0px 250px 20px;
    margin-bottom: -2px;
}
h3 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px 200px 20px;
    margin-bottom: 0;
}
.titulo1 {
    font-size: 1.1em; /* Reduz o tamanho dos subtítulos */
    color: #524d5b;
    margin-top: 8px; /* Ajuste na margem superior */
    margin: 0 180px 0px;
}
.titulo2 {
    font-size: 1.1em; /* Reduz o tamanho dos subtítulos */
    color: #4d5a5b;
    margin-top: 8px; /* Ajuste na margem superior */
    margin: 0 180px 0px;
}

/* Estilo dos parágrafos */
p {
    font-size: 0.85em; /* Reduz o tamanho da fonte dos parágrafos */
    color: #2c3e50;
    line-height: 1.4; /* Ajusta o espaçamento entre linhas */
    margin: 7px 0; /* Adiciona margem entre parágrafos */
    display: flex;
    align-items: center;
    justify-items: center;
}



