body {
    font-family: 'PopIndie Flower', sans-serif;
    background-image: url(background.jpg);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;/* Centraliza verticalmente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: -1;
    backdrop-filter: blur(0px);
    background-attachment: fixed;
}
main {
    background-color: #fbf095;
    margin-top: 121px;
    padding: 5px;
    height: 228vh;
    max-width: 527px; /* Limita a largura máxima do cartão */
    width: 100%; /* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
    margin-left: 500px;
    
}
.cartao-imagem img {
    width: 45%;
    max-height: 160px; /* Limita a altura do logo */
    object-fit: contain; /* Garante que a imagem não distorça */
    margin-bottom: 10px; /* Margem inferior para espaçamento */
}

.cartao-informacao {

    padding-top: 0px; /* Ajusta o padding para caber melhor na tela */
    margin-top: 50px; /* Ajusta a margem para caber melhor na tela */
    width: 100%;
    width: 527px;
    margin-left: -5px;
    box-sizing: border-box;
    margin-bottom: -10000px;
}
.cartao-visitante h3, h2 {
    
    padding: 20px;
    max-width: 135px; /* Limita a largura máxima do cartão */
    width: 32%; /* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
    box-sizing: border-box;
}
h3 {
    
    font-size: 1.3em; /* Reduz o tamanho do título secundário */
}
h2 {
    margin: 0px 290px 0px;
    margin-top: -40px;
}
h3 {
    margin: 0px 260px 0px;
    margin-top: -110px;
    margin-bottom: 10px;
}
.titulo1 {
    font-size: 1.1em; /* Reduz o tamanho dos subtítulos */
    color: #524d5b;
    margin-top: 8px; /* Ajuste na margem superior */
    margin: 10px 140px 10px;
}
.titulo2 {
    font-size: 1.1em; /* Reduz o tamanho dos subtítulos */
    color: #4d5a5b;
    margin-top: 8px; /* Ajuste na margem superior */
    margin: 10px 140px 30px;
}

/* Estilo dos parágrafos */
p {
    font-size: 0.85em; /* Reduz o tamanho da fonte dos parágrafos */
    color: #2c3e50;
    line-height: 1.6; /* Ajusta o espaçamento entre linhas */
    margin: 6px 26px; /* Adiciona margem entre parágrafos */
    display: flex;
    align-items: center;
    justify-items: center;
}
h4 {
    margin-left: 25px;
}

/* CARTÃO 2 */

.titulo-cartao2 {
    
    margin: 50px 130px 10px;
    font-size: 1.2em;
    width: 100%;
    max-width: 270px;
}
.formulario {
    margin-left: 10px;
    max-width: 500px;
}
input[type="text"] {
    width: 100%;
    /* Deixa os inputs com 100% da largura do cartão */
    padding: 8px 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
}

input[type="tel"] {
    width: 50%;
    /* Deixa os inputs com 100% da largura do cartão */
    padding: 8px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
}

input[type="email"] {
    width: 80%;
    /* Deixa os inputs com 100% da largura do cartão */
    padding: 8px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
}

input[type="date"] {
    width: 60%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
}
.visitando {
    display: flex;
}

input[type="radio"] {
    width: 5%;
    margin: 5px 0px;
    margin-left: 0px;

}
.faixa-etaria {
    display: flex;
}

input[type="igreja"] {
    width: 80%;
    /* Deixa os inputs com 100% da largura do cartão */
    padding: 8px;
    margin: -40px 0px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
}
.igreja {
    line-height: 50px;
}
/*CARTÃO 3 */

.formulario3 {
    margin: -10px 0px 0px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: -50px;
    
}
.titulo3 {
    
    margin: 50px 130px 10px;
    font-size: 1.2em;
    width: 100%;
    max-width: 270px;
    margin-top: 0;
}
.pergunta1 {
    margin-bottom: 14px;
    /* Espaço entre as questões */
    margin-left: 52px;
    font-size: 16px;
    /* Tamanho da fonte das questões */
}
.pergunta2 {
    margin-bottom: 14px;
    /* Espaço entre as questões */
    margin-left: 52px;
    font-size: 16px;
    /* Tamanho da fonte das questões */
}
.pergunta3 {
    margin-bottom: 14px;
    /* Espaço entre as questões */
    margin-left: 52px;
    font-size: 16px;
    /* Tamanho da fonte das questões */
}
.pergunta4 {
    margin-bottom: 14px;
    /* Espaço entre as questões */
    margin-left: 52px;
    font-size: 16px;
    /* Tamanho da fonte das questões */
}
.pergunta5 {
    margin-bottom: 14px;
    /* Espaço entre as questões */
    margin-left: 52px;
    font-size: 16px;
    /* Tamanho da fonte das questões */
}

input[type="radio"] {
    margin-right: 10px;
    /* Espaço entre o rádio e o texto */
}
button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -15px;
    text-decoration-color: #333;
    margin-bottom: 50px;
    margin-left: 140px;
    background-color: aqua;
}

button:hover {
    background-color: #36ea3f;

}

  
   
    

    
    

    


