/* Estilos gerais para desktops e telas grandes */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../imagem/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para dispositivos móveis com telas de até 6 polegadas */
@media (max-width: 768px) {
  .cartao-informacao {
      width: 90%;
      margin-top: 20px;
      height: auto; /* Ajuste automático de altura */
      padding: 20px;
  }

  img.imagem {
      width: 80%;
      margin-top: 10px;
  }

  h2, h3 {
      margin: 0;
      text-align: center;
      font-size: 1.5em; /* Ajuste o tamanho do texto */
    margin-top: 50px;
    line-height: 0px;
    
  }

  .titulo1, .titulo2, .titulo3 {
      font-size: 1.3em;
      margin: 20px 0;
      text-align: center;
  }

  p, h4 {
      font-size: 1em;
      margin: 10px 0;
      padding: 0 15px;
      text-align: justify;
  }
.titulo-cartao2 {
  margin-left: 0;
  font-size: 1.3em;
}
  form {
      padding: 0.9em;
      font-size: 1.3em;

  }

  /* Inputs com largura ajustada para ocupar a tela */
  input[type="text"], input[type="tel"], input[type="email"], input[type="date"], input[type="igreja"] {
      width: 100%;
      padding: 10px;
      margin: 10px 10px;
  }
  .titulo-cartao3 {
  
    margin-left: 20px;
    font-size: 1.2em;
    margin-top: 10px;

}

  .pergunta1 {
    margin-left: 2px;
    font-size: 1.2em;
    /* Tamanho da fonte das questões */
}
.pergunta2 {
    margin-left: 2px;
    font-size: 1.2em;
    /* Tamanho da fonte das questões */
}
.pergunta3 {
    margin-left: 2px;
    font-size: 1.2em;
    /* Tamanho da fonte das questões */
}
.pergunta4 {
  
    /* Espaço entre as questões */
    margin-left: 2px;
    font-size: 1.2em;
    /* Tamanho da fonte das questões */
}
.pergunta5 {
  
    margin-left: 2px;
    font-size: 1.2em;
    /* Tamanho da fonte das questões */
}

  /* Botão centralizado */
  button {
      width: 100%;
      margin: 20px 0;
      padding: 10px;
      font-size: 1em;
  }
}

/* Para dispositivos móveis muito pequenos */
@media (max-width: 480px) {
  .cartao-informacao {
      width: 95%;
  }

  img.imagem {
      width: 70%;
      margin: auto;
  }

  .titulo1, .titulo2, .titulo3 {
      font-size: 0.9em;
      margin: 15px 0;
  }

  h2, h3 {
      font-size: 1.1em;
  }
}
