/* Ajustes gerais para telas pequenas */
@media (max-width: 372px) {
    body {
        font-size: 0.9em;
        /* Reduz o tamanho geral da fonte */
        padding: 10px;/* Ajusta o espaçamento */
        
    }

    main {
    
        display: flex;
        flex-direction: column; /* Centraliza horizontalmente */
        align-items: center;
        height: 100vh; /* Define a altura do contêiner como 100% da altura da tela */
        width: 310px;
        padding: 8px;
        height: 650px;
        margin-left: 180px;
        list-style: none;
        margin-top: -135px;

    }
     .cartao-imagem img {
        background-color: #fbf095;
        width: 90%;
        max-height: 180px; /* Limita a altura do logo */
        object-fit: contain; /* Garante que a imagem não distorça */
        margin-bottom: -10px; /* Margem inferior para espaçamento 
        */
        height: 150px;

    }
    .cartao-imagem img {
        max-height: 180%; /* Ajusta a altura da imagem */
        margin-left: 15px;

    }
    .cartao {
        background-color: #fbf095;
        width: 301px; /* Garante que os cartões ocupem toda a largura */
        margin: -0.25em -0.1em -0.2em;
        /* Espaço entre cartões */
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -0.9px;

    }

    .cartao-visitante h3 {
        padding: 0px;
       width: 100%;/* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
        box-sizing: border-box;
        list-style: none;
    }

    h3 {
        text-align: left;/* Centraliza o texto */
        font-size: 0.95em;
        margin-left: 95px;
    }

    h4 {
        
        font-size: 0.9em; /* Ajusta o tamanho da fonte */
        line-height: 1em;/* Ajusta o espaçamento entre linhas */
        margin-left: -30px;
    }
    .titulo1 {
        font-size: 1em; /* Reduz o tamanho dos subtítulos */
        margin-top: 18px;/* Ajuste na margem superior */
        margin: 5px 2px;
    }
    .titulo2 {
        font-size: 1em;/* Reduz o tamanho dos subtítulos */
        margin-top: 18px;
        /* Ajuste na margem superior */
        margin: 0 10px 10px;
    }
    p {
        font-size: 0.85em; /* Reduz o tamanho da fonte dos parágrafos */
        line-height: 1.3;/* Ajusta o espaçamento entre linhas */
        margin: 5px 0;/* Adiciona margem entre parágrafos */
        margin-left: 7px;
    }
    .titulo3 {
        font-size: 0.9em;
        margin-left: -110px;
    }
    h2 {
        display: flex;
        justify-content:center;
        align-items: center;
    }

    /* CARTAO 2 */

    .cartao-cadastro {
        display: flex;
        flex-direction: column;
        height: 65px;
        padding: 0px;
        width: 310px;/* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
        box-sizing: border-box;
        font-size: 0.75em;
        margin-top: -315px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 300px;
        font-size: 1px;

    }
    input[type="text"] {
        width: 100%;/* Deixa os inputs com 100% da largura do cartão */
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 0,8em;
    }
    input[type="radio"] {
        width: 4%;
        margin: 0px 4px;
        font-size: 0px;
    }

    /* CARTAO 3 */

    h2 {
        text-align: center; /* Centraliza o título */
        color: #333;
        margin-bottom: 0px; /* Espaço abaixo do título */
        font-size: 1.9em;
        margin: auto;
        
    }
    .cartao-questionario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 600px;
        font-size: 0.8em;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .formulario2 {
        background-color: aqua;
        display: flex;
        justify-content: center;
        height: 600px;
    }
    label {
        margin-bottom: 15px; /* Espaço entre as questões */
        font-size: 14px;/* Tamanho da fonte das questões */
        margin-top: 25px;
    }

        

}